body{
    background: rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
}

.game{
    height: 875px;
    width: 550px;
    margin: auto;
    margin-top: 10vh;
    background: rgb(128, 156, 165);
    display: none;
    border-radius: 15px;

    box-shadow: 2px 2px 5px black;
}
.startButton{
    display: block;
    margin: auto;
    margin-top: 50vh;

    height: 10vh;
    width: 25vw;
    border-style: none;
    border-radius: 25px;
    border-right: 5px solid #246e96;
    border-bottom: 5px solid #246e96;
    box-shadow: 2px 2px 5px black;

    background: #3ab0f0;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 1px 1px black;
}
.startButton:active{
    background: #c4eaff;
}



.board{
    display: grid;
    height: 525px;
    padding: 0% 2% 2% 2%;
    column-gap: 2px;
    row-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.btn{
    background: #3ab0f0;
    border-style: none;
    border-radius: 10px;
    border-right: 5px solid #246e96;
    border-bottom: 5px solid #246e96;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px #246e96;
    font-weight: 750;
}
.btn:active{
    background: #c4eaff;
}

.output{
    margin-top: 2%;
    padding-bottom: 2%;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 10px;
    height: 50px;
    color: white;
    text-shadow: 1px 1px black;
}

.control{
    display: flex;
    padding: 0% 2% 0% 2%;
}

#submit{
    width: 50%;
    height: 50px;
    background: #3ab0f0;
    border-style: none;
    border-radius: 10px;
    border-right: 5px solid #246e96;
    border-bottom: 5px solid #246e96;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px #246e96;
    font-weight: 750;
}
#submit:active{
    background: white;
}

#clear{
    width: 50%;
    height: 50px;
    background: #3ab0f0;
    border-style: none;
    border-radius: 10px;
    border-right: 5px solid #246e96;
    border-bottom: 5px solid #246e96;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px #246e96;
    font-weight: 750;
}
#clear:active{
    background: white;
}

.scoreArea{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    text-shadow: 1px 1px black;
}

.scoreText{

}
.scoreAmount{
    font-size: 5rem;
    text-align: center;
}

.wordsFoundText{
    padding-left: 5%;
}
.wordsCount{
    font-size: 5rem;
    text-align: center;
}

#countDown{
    font-size: 5rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}
#gameOver{
    display: none;
}